@import './config';

.gallery-section {
    min-height: 100vh;
    width: 100vw;

    .gallery-section-1 {
        height: 35vh;
        width: 100vw;
        border-bottom: 2px groove;

        h2 {
            font-size: 5rem;
            margin-top: 20vh;
            color: $orange;
            text-align: center;

            @include mobile {
                font-size: 4rem;
            }
        }

        h4 {
            text-align: center;
        }
    }

    .full-img {
        height: 100vh;
        width: 100%;
        background: rgba(0, 0, 0, 0.9);
        position: fixed;
        top: 0;
        left: 0;
        display: none;
        justify-content: center;
        align-items: center;
        z-index: 100;

        img {
            width: 90%;
            max-width: 500px;
        }

        span {
            position: absolute;
            top: 5%;
            right: 5%;
            cursor: pointer;
            font-size: 2rem;
            color: $white;
        }
    }

    .gallery {
        margin-top: 10vh;
        margin-inline: auto;
        width: 80vw;
        min-height: 100vh;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        margin-bottom: 10vh;
        grid-gap: 30px;

        img {
            width: 200px;
            height: 200px;
            cursor: pointer;
        }

        img:hover {
            transform: scale(0.8);
            border-radius: 10px;
        }
    }
}