nav {
    width: 100vw;
    height: 12vh;
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 50;

    @include mobile {
        background: $white;
    }


    section {
        display: flex;
        align-items: center;
        width: 80vw;
        height: 12vh;
        margin-inline: auto;
        justify-content: space-between;

        .logo img {
            height: 120px;
            width: 120px;
            cursor: pointer;

            @include mobile {
                display: none;
            }
        }

        .logo-mobile {
            display: none;

            @include mobile {
                display: block;
                position: relative;
                left: -30vw;
            }

            img {
                height: 70px;
                width: 70px;
                cursor: pointer;
            }
        }

        .nav-links {
            @include mobile {
                display: none;
            }

            ul {
                display: flex;
                gap: 25px;

                a {
                    color: $white;
                }

                a:hover {
                    color: $orange;
                }

                .donate {
                    padding: 10px 20px;
                    background: $orange;
                    color: $white;
                }

                .donate:hover {
                    padding: 10px 20px;
                    background: none;
                    border: 1px solid $orange;
                    color: $white;
                    transition: all 0.2s ease-in;
                }
            }
        }

    }
}


.burger {
    outline: none;
    display: none;
    cursor: pointer;
    width: 24px;
    height: 24px;
    transition: all 0.25s;
    position: relative;
    background: $white;

    @include mobile {
        display: block;
    }

}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 2px;
    background: #000;
    transform: rotate(0);
    transition: all 0.5s;
}

.hamburger-middle {
    transform: translateY(7px);
}

.hamburger-bottom {
    transform: translateY(14px);
}

.open {
    transform: rotate(90deg);
    transform: translateY(0px);

}

.open .hamburger-top {
    transform: rotate(45deg) translateY(6px) translate(6px);

}

.open .hamburger-middle {
    display: none;

}

.open .hamburger-bottom {
    transform: rotate(-45deg) translateY(6px) translate(-6px);

}

.mobile-nav-links {
    border-top: 1px solid $gray;
    display: none;
    background: $white;
    position: absolute;
    top: 12vh;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 40vw;
    height: 80vh;

    ul {
        width: 40vw;
        height: 80vh;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        place-items: center;

        a {
            color: $orange;
        }

        .donate-btn {
            width: 120px;
            background: $orange;
            color: $white;
            padding: 10px 20px;
        }

        .donate-btn:hover {
            background: none;
            border: 1px solid $orange;
            color: $orange;
        }
    }
}