@import './config';
/**


*! recent stories



**/

.recent-stories {
    width: 100vw;
    min-height: 100vh;
    border: 1px solid $white;
    background: $bgLightGray;

    .recent-stories-inner {
        margin: 8vh 0px;
        width: 80vw;
        margin-inline: auto;

        @include mobile {
            width: 90vw;
        }

        h2 {
            font-size: 2rem;
            font-weight: bold;
            color: $orange;
            text-align: center;
        }

        h4 {
            margin-top: 10px;
            text-align: center;
            color: $darkFont;
        }

        .stories-cards-section {
            position: relative;
            margin-top: 8vh;
            width: 80vw;
            min-height: 60vh;
            margin-inline: auto;

            @include tablet {
                width: 90vw;
            }

            .story-card {
                display: none;
                // display: grid;
                grid-template-columns: repeat(2, 1fr);
                width: 100%;
                min-height: 50vh;
                background: $white;
                border-radius: 10px;

                @include tablet {
                    grid-template-columns: repeat(1, 1fr);
                }

                .story-img {
                    position: relative;
                    display: flex;
                    align-items: center;
                    background: $gray;
                    border-radius: 10px;
                    overflow: hidden;

                    #video {
                        position: relative;
                        left: 0;
                        top: 0;
                        opacity: 1;
                    }

                    .fa-play {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        height: 80px;
                        width: 80px;
                        color: $darkFont;
                        font-size: 1.5rem;
                        cursor: pointer;
                        border-radius: 50%;
                        background: rgba($bgLightGray, .5);
                        position: absolute;
                        top: 0;
                        left: 0;
                        bottom: 0;
                        right: 0;
                        margin: auto;
                        z-index: 10;
                    }

                }

                .story-desc {
                    background: $white;
                    border-top-right-radius: 10px;
                    border-bottom-right-radius: 10px;
                    padding: 50px;

                    @include tablet {
                        padding: 20px;
                    }

                    h5 {
                        color: $gray;
                        font-family: 'Poppins', sans-serif;
                        font-size: 0.9rem;
                    }

                    h4 {
                        color: $gray;
                        font-weight: 600;
                        font-size: 1.2rem;
                        text-align: left;
                        margin-bottom: 15px;
                    }
                }
            }

            /* The dots/bullets/indicators */
            .story-dots {
                // margin-top: 30px;
                margin-top: 8vh;
            }

            .story-dot {
                cursor: pointer;
                height: 12px;
                width: 12px;
                margin: 0 3px;
                background-color: $gray;
                border-radius: 50%;
                display: inline-block;
                transition: background-color 0.6s ease;
            }

            .active {
                background-color: $orange;
            }

            /* Fading animation */
            .story-fade {
                animation-name: storyfades;
                animation-duration: 2s;
            }

            @keyframes storyfades {
                from {
                    opacity: .4
                }

                to {
                    opacity: 1
                }
            }
        }
    }
}